@charset "utf-8";

body{
	background-color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif; font-size:12px;
}
#container-landing { margin: 0px auto ; width:792px; margin-top:20px; }
#container-landing  p {margin-top:0px; margin-left:10px; color:#918f8f; }
#container-landing  .btGotoweb  { background-color:#0099FF ; color:#FFF;border:none; padding:2px 5px;   }

.collumn-landing{ width:262px; float:left; background:url(../images/landding-line_23.jpg) no-repeat  top right ; 
height:100px; padding-top:10px; text-align:center;}
.collumnLast-landing {  background: none; padding-top:10px;text-align:center;height:100px; } 
.link-landing a{ color:#FFF; text-decoration:none ;    }
.link-landing a:hover{ color:#FF9 ; text-decoration:none ; }

