@charset "utf-8";
*{margin: 0px ; padding: 0px;}
body{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; background: #9efabf url(../images/momday/momday_bg.jpg) repeat-x left top; }
#special-container{ margin: 0px auto; width: 918px; margin-top: 20px; }
#special-event { margin: 0px auto; display: block; } 
.special-btn { text-align:center ;   } 
.special-btn   .btGotoweb{ text-align: center; padding: 3px 5px; color: #FFF; border: none; text-align: left; }  
