@charset "utf-8";

/*----- Font Face ---------------------------------------------------------------*/ 
 @font-face {
font-family: 'DBHelvethaicaX45Li';
src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot');
src: url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.woff') format('woff'),
url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.ttf') format('truetype'),
url('font/DBX45/db_helvethaica_x_li_v3.2-webfont.svg#DBHelvethaicaX45Li') format('svg');
font-weight: normal;
font-style: normal; 
} 
/*-------------------------  Ganeral ------------------------------------------------------*/ 
body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color:#999; background: #FFFFFF url(../images/bodyBg.jpg) repeat-x left top; }
a:link, a:visited { color:#999; border:none;text-decoration:none; }
a:hover, a:active { color:#20b04b; border:none;text-decoration:underline;  }
.clear { clear:both }
h1 { color:#27d60a;   padding-bottom:10px; font-family: 'DBHelvethaicaX45Li'; font-size:40px ;  font-weight:normal }
h2 { color:#20b14c; margin-bottom:10px; padding-bottom:10px; font-family: Verdana, Geneva, sans-serif; font-size: 19px; font-weight: lighter; }
h3 { }
p { line-height:22px; color:#999999; margin-bottom: 5px; }

/*-------------------------  Layout ------------------------------------------------------*/ 
#container { width: 1000px; margin:0px auto; }
#header { height:130px; position:relative; background: url(../images/bgHeadjpg_02.jpg) repeat-x left top; display: block; }
.logo { position:absolute; left:0px; top : 20px; } 
.member{  position:absolute; right:20px; bottom : 40px; }
.navMain { clear:both; position: absolute; left: 0px; bottom: 0px; background: #5e99e1 url(../images/navMain.jpg) no-repeat -5px -7px; width: 1000px; height: 30px; }
.navMain ul {  }
.navMain ul li { float:left; text-align:center;padding-top:5px; }
.navMain ul li a { color:#FFFFFF; text-decoration: none; background: url(../images/bgdDecorate.png) no-repeat -5px -33px; height:24px; width:110px; display:block; padding-top: 3px; font-weight:bold; font: normal 11px Verdana, Geneva, sans-serif;}
.navMain ul li a:hover, .navMain ul li .active { color:#FFFFFF; background: url(../images/bgdDecorate.png) no-repeat -118px -33px; font: normal 11px Verdana, Geneva, sans-serif; }
 #warper { height: auto !important; min-height:280px; height:280px; margin-bottom: 30px; }
#sideLeft { width: 410px; float: left; margin-left:30px; padding-top: 20px; }
#sideLeft { background: url(../images/bgLineSeparate_05.jpg) no-repeat right top; width:490px;height: auto !important; height:310px; min-height:310px;  }
#sideLeft ul {   margin-bottom:20px; width:400px; }
#sideLeft ul li { list-style:disc; margin-bottom:10px; }
#sideLeft li ul li { list-style:circle; }
#sideLeft h1 { }
#sideLeft h2{ width:400px; }
#sideLeft .content { width:400px; }
#sideCenter {margin-left:30px; }  
#sideRight { float: left; width:450px; float:left; margin-right: 30px; padding-top: 20px; height: 200px; display: block; 
height:auto !important; height:300px; min-height:300px; } 
#sideRight ul { padding-left:20px; margin-bottom:20px;  }
#sideRight ul li { list-style:disc; margin-bottom:10px; line-height:22px; }
#sideRight li ul li { list-style:circle; }  
#sideRight h1 { border-bottom: 2px solid #60869f; width:310px; margin-bottom:10px; }
#sideRight .row { clear:both; height:100px; }
#sideRight .columnLeft { float:left; margin-right: 10px; }
#sideRight .columnLeft img { border:3px solid #FFF }
#sideRight .columnRight { float:left; background: url(../images/bullet.png) no-repeat left top; padding-left: 20px; width: 150px; }
#sideRight .columnRight a { }
#sideRight .columnRight a:hover { }
#footer { height:40px; display: block; width: 1000px; }
.footLink { text-align:center; margin-bottom:10px; }
.online-leave{ display:block;  margin:   0px auto;  width:160px; margin-bottom:5px; }
.copy {  color:#20b14c; font-size: 11px;  margin: 0px auto ;    margin-left:0px; text-align:center ;  margin-bottom:10px; } 
 
#accordion{}
#accordion ul li{ list-style:none ;}
#accordion .title{ font-size:18px ; color:#7cc0d5; background: url(../images/bullet-1.jpg) no-repeat left top;  text-indent:20px;}  

/*------------------------- Page career  ------------------------------------------------------*/ 
#switchContent { }
#switchContent ul  { text-indent:20px}
#switchContent ul li{ background: url(../images/bullet-1.jpg) no-repeat 0px -2px; list-style:none;}
#switchContent ul  li a { text-decoration:none; color:#999;  }
#switchContent ul li a:hover { text-decoration:underline; color:#20b04b; }
#switchContent ul li a.active { text-decoration:underline; color:#20b04b; }



.navFooter{ width:370px; height:15px;display:block; margin: 0px auto ; margin-bottom:10px;  }
.navFooter ul  {  margin:0px;padding:0px; } 
.navFooter ul li  {float:left ;  display:inline ;   }
.navFooter ul  li a{   padding: 0px  10px;   }