@charset "utf-8";
/* CSS Document */

 
#mask { position:absolute; left:0; top:0; z-index:9000; background-color:#20b14c; display:none; }
#boxes .window { position:absolute; left:0; top:0; /*width:440px; height:200px*/; display:none; z-index:9999; padding:20px; }
#boxes #dialog {  padding:7px; background-color:#D7D7D7;   }
 

.close{position:absolute; top:-15px; right:-15px;width:30px; height:30px;  }