﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="metaKey.ascx.cs" Inherits="tdSoft.WebUserControl1" %>
 
<meta name="keywords" content="tdsoftware, td software, tdsoftware.co.th, outsource, Outsource Programming , developer , programmer, ASP.Net programmer, .net  programmer , java programmer ,rpg programmer, c#  programmer, vb  programmer, iPhone programmer ,  microsoft programmer , sql server , .net  developer, java developer ,rpg developer, c#  developer, vb  developer, ecommerce developer, outsource employee,  
IT Company , IT outsourcing ,  Web Application , Software Development , iPhone Development ,eCommerce website ,
hire programmer,   website programmer, website developer,  iphone programmer,  application programmer, programming services , Thai Programmer
" />
<meta name="description" 
content="Provide programmer for every business. To develop applications ASP.Net programmer, Java programmers, eCommerce website developer, iPhone programmer, programming services." />

 