 
<script type="text/javascript" src="../jquery.js"></script>
<script type="text/javascript" src="jquery.easing.1.3.js"></script>
<script type="text/javascript" src="lavaLamp.js"></script>
<style type="text/css">
#lava { position:relative; text-align:center; width:583px; height:40px; }
#lava ul {  margin:0; padding:0; list-style:none; display:inline;  position:absolute;  left:110px; top:0;  z-index:100; }
#lava ul li { margin:0 15px; float:left; }
#lava #box { position:absolute; left:0; top:0;  z-index:50;  background:#ccc; height:20px;  padding-right:8px;  margin-left:-10px; }
</style>
 
<div id="lava">
  <ul>
    <li><a href="#">home</a></li>
    <li><a href="#">lava lamp menu</a></li>
    <li><a href="#">queness.com</a></li>
    <li class="selected"><a href="#">jQuery</a></li>
  </ul>
  
  <!-- If you want to make it even simpler, you can append these html using jquery -->
  <div id="box" >
 
  </div>
</div>
