 <link  type="text/css" rel="stylesheet" href="../../css/reset.css" />
<link href="../../css/tdSoft.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../jquery.js"></script>

<!--########## lavaLamp-menu ##########-->
<link  rel="stylesheet"  type="text/css"  href="lavaLamp.css"   />
<script type="text/javascript" src="jquery.easing.1.3.js"></script>
<script type="text/javascript" src="lavaLamp.js"></script>


 <div id="lava">
      <ul>
        <li    ><a href="../../home.html" class="active">COMPANY</a></li>
        <li class="selected" ><a href="../../about.html">ABOUT US</a></li>
        <li  ><a href="../../service.html">SERVICE</a></li>
        <li><a href="../../career.html">CAREER</a></li>
        <li><a href="../../jobApply.html">JOB APPLICATIONS</a></li>
    
        <li  ><a href="../../faq.html">FAQ</a></li>
        <li ><a href="../../contact.html" >CONTACT</a></li>
      </ul>
      
      <!-- If you want to make it even simpler, you can append these html using jquery -->
      <div id="box"  > 
        <!--<div class="head" style="width: 43px; display: block; "></div>--> 
      </div>
    </div>