@charset "utf-8";
/* CSS Document */

 
#lava { position:relative; text-align:center; width:1000px; height:35px; top: 100px; background: url(../../images/navMain.jpg) no-repeat -5px -9px; overflow: hidden; }
#lava ul { list-style:none; display:inline; position:absolute; z-index:100; height: 30px; width: 926px; left: 20px; top: 0px; }
#lava ul li { float:left; font: 12px Verdana, Geneva, sans-serif;   }
#lava ul li a { text-decoration:none; color:#FFF; display:block;padding: 5px 30px 5px 30px; }
#lava ul li a:hover { text-decoration:none; color:#FFF; display:block;padding: 5px 30px 5px 30px; }
#lava #box { position:absolute; top:10; z-index:50; background:#16ea56; height:25px; left: 0px;  /*width:100px; */ }
 