﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="tdSoft.WebForm1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script>  
//////location = 'home.aspx' ;

location = 'eventDay/dadday.html' ;
</script>
 
<title>T.D. Software Co.,Ltd. - IT Company | IT Outsourcing | Outsource Programming | Web Application | Software Development | eCommerce website</title>
<meta name="keywords" content="tdsoftware, td software, tdsoftware.co.th, outsource, Outsource Programming , developer , programmer, ASP.Net programmer, .nlet  programmer , java programmer ,rpg programmer, c#  programmer, vb  programmer, iPhone programmer ,  microsoft programmer , sql server , .net  developer, java developer ,rpg developer, c#  developer, vb  developer, ecommerce developer, outsource employee,  
IT Company , IT outsourcing ,  Web Application , Software Development , iPhone Development ,eCommerce website ,
hire programmer,   website programmer, website developer,  iphone programmer,  application programmer, programming services , Thai Programmer
" />
<meta name="description" 
content="Provide programmer for every business. To develop applications ASP.Net programmer, Java programmers, eCommerce website developer, iPhone programmer, programming services." />
      
</head>

<body> 
</body>
</html>

