﻿<%@ Page Language="C#" MasterPageFile="~/MasterPageFront1.master" AutoEventWireup="true" CodeFile="service.aspx.cs" Inherits="tdSoft.service" Title="Untitled Page" %>

 

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<title>T.D. Software Co.,Ltd. - IT Company | IT Outsourcing | Outsource Programming | Web Application | Software Development | eCommerce website</title>
<meta name="keywords" content="tdsoftware, td software, tdsoftware.co.th, outsource, Outsource Programming , developer , programmer, ASP.Net programmer, .net  programmer , java programmer ,rpg programmer, c#  programmer, vb  programmer, iPhone programmer ,  microsoft programmer , sql server , .net  developer, java developer ,rpg developer, c#  developer, vb  developer, ecommerce developer, outsource employee,  
IT Company , IT outsourcing ,  Web Application , Software Development , iPhone Development ,eCommerce website ,
hire programmer,   website programmer, website developer,  iphone programmer,  application programmer, programming services , Thai Programmer
" />
<meta name="description" 
content="Provide programmer for every business. To develop applications ASP.Net programmer, Java programmers, eCommerce website developer, iPhone programmer, programming services." />
 
 
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="sideLeft">
      <h1>Service</h1>
      <div id="switchContent">
        <ul>
          <li><a href="#displayContent1">Software Development</a></li>
          <li><a href="#displayContent2">Outsource Programer</a></li>
          
           
        </ul>
        
        
        
      </div>
    </div>
    <div id="sideRight">
    
    <div id="displayContent1">
   
    <p>Provides, software to enable web browser interface with bilingual English and Thai. Development environment for building and deploying Web solutions</p>
    <div style="float:left; margin-right:15px;"><img src="images/service-photo-1.jpg" width="248" height="186"  /></div>
    <p  >A highly customizable e-business platform that offers enterprise-level processing power, security and rapid integration with existing back-end systems </p>
    <p> 
Professional & Consulting services to assist our clients with application development and integration, e-commerce strategy and design, project management, technology transformation and migration in areas of software development of web application, client/server based.</p>
 


</div>
     <div id="displayContent2">
      <p>Our service is to act as system coordinator who analyzes, and presents the best solution to our customers, in all aspect of hardware software and size of businesses.</p>
       <div style="float:right; margin-left:15px;"><img src="images/service-photo-2.jpg" width="248" height="169"  /></div>
      
<p>      
With JAVA and Microsoft technology like dot NET, will be assigned specifically to produce application software on SQL Server, DB2 and Oracle, web base application (J2SE, J2EE and Dot NET). We are well equipped to meet today's and tomorrow’s demands of customers.</p>
 </div>
     
    
    
    
    
    
    
    
    
    </div>
</asp:Content>
